# Editor settings
.vscode/

# pycache, compiled files
__pycache__/
*.pyc

# Temp data folder
tempdata/

# Models for natural language processing
resources/models/

# log files of processed labels
resources/processed_log/
resources/processed_log_unittest/
# resources/database_latest/

Pipfile.lock
